/* src/pages/Index/ContentDisplayer.css */
.content-displayer {
  display: flex;
  gap: 10px;
}

.content-displayer button {
  font-size: 16px; /* Adjust the font size */
  padding: 5px 10px; /* Make the buttons larger */
  border-radius: 8px; /* Round the corners */
  border: 1px solid hsl(0, 0%, 15%); /* Border color */
  background-color: hsl(0, 0%, 10%); /* Button background */
  color: hsl(0, 0%, 90%); /* Text color */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.content-displayer button:hover {
  background-color: hsl(0, 0%, 15%); /* On hover, change background */
  color: hsl(0, 0%, 90%); /* Change text color on hover */
}

.content-displayer button:focus {
  outline: none;
  box-shadow: 0 0 5px hsl(0, 0%, 90%); /* Add focus style */
}
